@{
    ViewData["Title"] = "Joel Hilton Movie Collection";
}

<h1>Movie Collection</h1>

<div>
    <p>Check out my movie collection</p>
</div>

<img src="~/img/JoelHiltonHead.jpg" height="400" />
<br />

<div>
    <a asp-controller="Home" asp-action="Podcast">check out my Podcast!</a>
</div>
<br />

<div>
    <a asp-controller="Home" asp-action="MovieList">check out my movie collection!</a>
</div>